* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 90%;
  margin: auto;
}
.btn {
  text-align: center;
  padding: 1vw;
  width: 10vw;
  border-radius: 5px;
  background-color: orange;
  color: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 1vw;
}
.btn-link {
  background-color: transparent;
  border: none;
  padding: 13px;
  color: orange;
  font-weight: bold;
  cursor: pointer;
}
header {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  margin-bottom: 2px;
}
header .nav ul {
  display: flex;
  justify-content: space-around;
  width: 50vw;
}
header .nav li {
  list-style: none;
  transition: 1.2s all ease-in-out;
}
header .nav li:hover {
  padding-left: 25px;
}
header .button {
  display: flex;
  justify-content: space-between;
}
header .button button {
  padding: 10px;
  text-align: center;
  background-color: orange;
  color: #fff;
  width: 100px;
  border-radius: 10px;
  margin-right: 15px;
  transition: all ease-in-out 0.7s;
  border: none;
}
header button.primary {
  background-color: #fff;
  color: black;
  border: 2px solid orange;
}
header .button button:hover {
  padding: 10px;
  text-align: center;
  background-color: #fff;
  color: black;
  border: 2px solid orange;
  padding-left: 10px;
}

.image-brand {
  border: orange solid 10px;

  border-radius: 50%;
  height: 15px;
}
.band {
  border: mediumspringgreen solid 10px;
  border-radius: 100%;
  height: 39px;
  width: fit-content;
}
/*****************************start intor page************************************/
.intro-page,
.intor-page-content {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.intro-page {
  padding: 15px;
}
.intor-page-content {
  display: grid;
  grid-template-columns: auto auto;
}
.intro-page .title-page {
  padding: 15px 0;
  width: 66%;
  font-size: 51px;
  margin-bottom: 35px;
}
.intro-page .line {
  display: block;
  width: 10%;
  height: 2px;
  margin-top: 15px;
  background-color: black;
  margin-bottom: 20px;
}

.intro-page .intro-des .intor-page-content input {
  margin: 1vw;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 20vw;
  width: 100%;
}
.intro-page .image-intro {
  flex-shrink: 0;
}
.intro-page .image-intro img {
  display: block;
  width: 44vw;
  text-align: center;
  padding-left: 7vw;
  border-radius: 10px;
}
/*********************************start section 2***********************************/
.section2 {
  margin-top: 20vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.section2 div {
  padding: 29px;
}
.section2 .section2-image img {
  flex-shrink: 0;
  width: 30vw;
}

.section2 div p {
  color: #7d7987;
}
.section2 div h1,
p,
button {
  padding: 20px 0;
}
/*******************************start section 3****************************************/
.section3 {
  padding: 10px;
  margin: 35px 0;
}
.section3 .header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 15px 0;
}

.section3 .section-content div {
  position: relative;
}
.section3 .section-content div img {
  border-radius: 10px;
}
.alert {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2222;
  display: block;
  color: 042521;
  background-color: #ffffff;
  padding: 0 7px 7px 7px;
  width: 10vw;
  line-height: 1.4;
}

.alert::first-line {
  color: #042521;
  font-weight: bold;
}
.alert::second-line {
  color: #80918e;
}
.section3 .section-content,
.section4 .section-content {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  align-items: center;
  gap: 10px 15px;
  background-color: #ffffff;
}

/*******************************start section 4****************************************/
.section4 .section-content img {
  width: 100%;
  min-height: 320px;
  border-radius: 25px;
  padding-bottom: 10px;
}
.section4 .header-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px 0;
}
.star {
  display: inline-block;
  width: 25.12px;
  height: 23.95pxpx;
  margin-left: 20px;
  color: #ffbb0c;
}
q {
  display: block;
  padding: 30px;
  margin-right: 200px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}
.Edward {
  font-family: Inter;
  font-size: 22px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 10px;
}
.founder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 10px;
  color: rgba(0, 0, 0, 0.85);
}
.section4-des {
  width: 40vw;
}
/******************************start footer section*****************/
footer {
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  margin-top: 50px;
  padding: 20px;
  gap: 10px 20px;
  background-color: #f9f9fb;
}
.footer-des {
  width: 28vw;
}
footer div .list {
  margin-left: 40px;
}
footer div ul {
  list-style: none;
}
footer div ul li {
  padding: 10px 0;
  cursor: pointer;
}
